@import 'base/variables';
* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.container {
    position: relative;
    max-width: 950px;
    margin: 0 auto;
}
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/header_media';
@import 'blocks/promo_media';
@import 'blocks/advantages';
@import 'blocks/advantages_media';
@import 'blocks/titles';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/consultation_media';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/carousel_media';
@import 'blocks/catalog_media';
@import 'blocks/review';