.advantages {
    min-height: 322px;
    padding: 70px 0 78px 0;
    background-color: #f6f6f6;
    &__wrapper {
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    &__main-descr {
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
    }
    &__second-descr {
        margin-top: 26px;
        color: #0d0d0d;
        font-size: 14px;
        font-weight: 300;
        a {
            color: #ff0000;
        }
    }
    &__item {
        width: 235px;
    }
}