@media (max-width: 767px) {
    .catalog {
        &__tabs {
            flex-direction: column;
        }
        &__tab {
            margin-top: 20px;
            &:nth-child(1) {
                margin-top: 0;
            }
        }
        &-item {
            margin: 0 auto;
            margin-top: 20px;
            &:nth-child(1) {
                margin-top: 0;
            }
        }
    }
}