@media (max-width: 767px) {
    .title {
        &_left {
            text-align: center;
        }
    }
    .consultation {
        &__descr {
            text-align: center;
        }
        &__wrapper {
            display: flex;
            justify-content: center;
        }
    }
}
@media (max-width: 575px) {
    .title {
        &_left {
            font-size: 25px;
        }
    }
}

