@media (max-width: 1024px) {
    .review {
        &__wrapper {
            flex-direction: column;
            align-items: center;
            margin-right: 0;
        }
        &__img {
            margin-right: 0;
        }
    
        hr {
            width: 100%;
        }
        &__descr {
            width: 100%;
        }
        &__name {
            text-align: center;
        }
        &__achive {
            text-align: center;
        }
}   }